<html>
<head>
<title>stories.marketing.logging_on</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
<div class="story">
<h1>Logging on to the 'Flying High' admin site</h1>
<div class="path">stories/marketing/logging_on.story</div>
<div class="meta">
<div class="keyword">Meta:</div>
<div class="property">@issue FH-22</div>
<div class="property">@tag component:ui</div>
</div>
<div class="scenario">
<h2>Scenario: Logging on successfully</h2>
<div class="step pending">Given Joe is a Marketing Admin <span class="keyword pending">(PENDING)</span></div>
<div class="step notPerformed">When <span class="step parameter">Joe</span> logs on with password 'secret' <span class="keyword notPerformed">(NOT PERFORMED)</span></div>
<div class="step pending">Then he should be given access to the admin site <span class="keyword pending">(PENDING)</span></div>
<div><pre class="pending">@Given(&quot;Joe is a Marketing Admin&quot;)
@Pending
public void givenJoeIsAMarketingAdmin() {
  // PENDING
}
</pre></div>
<div><pre class="pending">@Then(&quot;he should be given access to the admin site&quot;)
@Pending
public void thenHeShouldBeGivenAccessToTheAdminSite() {
  // PENDING
}
</pre></div>
</div>
</div>

</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
