<html>
<head>
<title>stories.earning_points.earning_points_from_special_offers</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
<div class="story">
<h1>Earning Frequent Flyer points from special offers</h1>
<div class="path">stories/earning_points/earning_points_from_special_offers.story</div>
<div class="meta">
<div class="keyword">Meta:</div>
<div class="property">@earning-points </div>
<div class="property">@issue FH-11</div>
<div class="property">@tag component:backend</div>
</div>
<div class="scenario">
<h2>Scenario: Earning points from partner promotions</h2>
<div class="step pending">Given pending <span class="keyword pending">(PENDING)</span></div>
<div class="step pending">When pending <span class="keyword pending">(PENDING)</span></div>
<div class="step pending">Then pending <span class="keyword pending">(PENDING)</span></div>
<div><pre class="pending">@Given(&quot;pending&quot;)
@Pending
public void givenPending() {
  // PENDING
}
</pre></div>
<div><pre class="pending">@When(&quot;pending&quot;)
@Pending
public void whenPending() {
  // PENDING
}
</pre></div>
<div><pre class="pending">@Then(&quot;pending&quot;)
@Pending
public void thenPending() {
  // PENDING
}
</pre></div>
</div>
<div class="scenario">
<h2>Scenario: Earning points from hotel packages</h2>
<div class="step pending">Given pending <span class="keyword pending">(PENDING)</span></div>
<div class="step pending">When pending <span class="keyword pending">(PENDING)</span></div>
<div class="step pending">Then pending <span class="keyword pending">(PENDING)</span></div>
<div><pre class="pending">@Given(&quot;pending&quot;)
@Pending
public void givenPending() {
  // PENDING
}
</pre></div>
<div><pre class="pending">@When(&quot;pending&quot;)
@Pending
public void whenPending() {
  // PENDING
}
</pre></div>
<div><pre class="pending">@Then(&quot;pending&quot;)
@Pending
public void thenPending() {
  // PENDING
}
</pre></div>
</div>
<div class="scenario">
<h2>Scenario: Earning points from car rental packages</h2>
<div class="step pending">Given pending <span class="keyword pending">(PENDING)</span></div>
<div class="step pending">When pending <span class="keyword pending">(PENDING)</span></div>
<div class="step pending">Then pending <span class="keyword pending">(PENDING)</span></div>
<div><pre class="pending">@Given(&quot;pending&quot;)
@Pending
public void givenPending() {
  // PENDING
}
</pre></div>
<div><pre class="pending">@When(&quot;pending&quot;)
@Pending
public void whenPending() {
  // PENDING
}
</pre></div>
<div><pre class="pending">@Then(&quot;pending&quot;)
@Pending
public void thenPending() {
  // PENDING
}
</pre></div>
</div>
</div>

</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
