<html>
<head>
<title>stories.earning_points.earning_extra_points_from_status</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
<div class="story">
<h1>Earning extra points from Frequent Flyer status</h1>
<div class="path">stories/earning_points/earning_extra_points_from_status.story</div>
<div class="meta">
<div class="keyword">Meta:</div>
<div class="property">@earning-points </div>
</div>
<div class="scenario">
<h2>Scenario: Earning points on flights by Frequent Flyer status</h2>
<div class="examples">
<h3>Examples:</h3>
<div class="step">Given a member has a status of &lt;initialStatus&gt;</div>
<div class="step">When I fly on a flight that is worth &lt;base&gt; base points</div>
<div class="step">Then I should earn a status bonus of &lt;bonus&gt;</div>
<div class="step">And I should have guaranteed minimum earned points per trip of &lt;minimum&gt;</div>
<div class="step">And I should earn &lt;total&gt; points in all</div>
<table>
<thead>
<tr>
<th>initialStatus</th><th>base</th><th>bonus</th><th>minimum</th><th>total</th><th>notes</th></tr>
</thead>
<tbody>
<tr>
<td>Bronze</td><td>439</td><td>0</td><td>0</td><td>439</td><td></td></tr>
<tr>
<td>Silver</td><td>439</td><td>220</td><td>500</td><td>659</td><td>minimum points</td></tr>
<tr>
<td>Silver</td><td>148</td><td>111</td><td>500</td><td>500</td><td>50% bonus</td></tr>
<tr>
<td>Gold</td><td>474</td><td>400</td><td>1000</td><td>1000</td><td>minimum points</td></tr>
<tr>
<td>Gold</td><td>2041</td><td>1531</td><td>1000</td><td>3572</td><td>75% bonus</td></tr>
</tbody>
</table>

<h3 class="example">Example: {initialStatus=Bronze, base=439, bonus=0, minimum=0, total=439, notes=}</h3>
<div class="step successful">Given a member has a status of <span class="step parameter">Bronze</span></div>
<div class="step successful">When I fly on a flight that is worth <span class="step parameter">439</span> base points</div>
<div class="step successful">Then I should earn a status bonus of <span class="step parameter">0</span></div>
<div class="step successful">And I should have guaranteed minimum earned points per trip of <span class="step parameter">0</span></div>
<div class="step successful">And I should earn <span class="step parameter">439</span> points in all</div>

<h3 class="example">Example: {initialStatus=Silver, base=439, bonus=220, minimum=500, total=659, notes=minimum points}</h3>
<div class="step successful">Given a member has a status of <span class="step parameter">Silver</span></div>
<div class="step successful">When I fly on a flight that is worth <span class="step parameter">439</span> base points</div>
<div class="step successful">Then I should earn a status bonus of <span class="step parameter">220</span></div>
<div class="step successful">And I should have guaranteed minimum earned points per trip of <span class="step parameter">500</span></div>
<div class="step successful">And I should earn <span class="step parameter">659</span> points in all</div>

<h3 class="example">Example: {initialStatus=Silver, base=148, bonus=111, minimum=500, total=500, notes=50% bonus}</h3>
<div class="step successful">Given a member has a status of <span class="step parameter">Silver</span></div>
<div class="step successful">When I fly on a flight that is worth <span class="step parameter">148</span> base points</div>
<div class="step successful">Then I should earn a status bonus of <span class="step parameter">111</span></div>
<div class="step successful">And I should have guaranteed minimum earned points per trip of <span class="step parameter">500</span></div>
<div class="step successful">And I should earn <span class="step parameter">500</span> points in all</div>

<h3 class="example">Example: {initialStatus=Gold, base=474, bonus=400, minimum=1000, total=1000, notes=minimum points}</h3>
<div class="step successful">Given a member has a status of <span class="step parameter">Gold</span></div>
<div class="step successful">When I fly on a flight that is worth <span class="step parameter">474</span> base points</div>
<div class="step successful">Then I should earn a status bonus of <span class="step parameter">400</span></div>
<div class="step successful">And I should have guaranteed minimum earned points per trip of <span class="step parameter">1000</span></div>
<div class="step successful">And I should earn <span class="step parameter">1000</span> points in all</div>

<h3 class="example">Example: {initialStatus=Gold, base=2041, bonus=1531, minimum=1000, total=3572, notes=75% bonus}</h3>
<div class="step successful">Given a member has a status of <span class="step parameter">Gold</span></div>
<div class="step successful">When I fly on a flight that is worth <span class="step parameter">2041</span> base points</div>
<div class="step successful">Then I should earn a status bonus of <span class="step parameter">1531</span></div>
<div class="step successful">And I should have guaranteed minimum earned points per trip of <span class="step parameter">1000</span></div>
<div class="step successful">And I should earn <span class="step parameter">3572</span> points in all</div>
</div>
</div>
</div>

</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
