<html>
<head>
<title>stories.authentication.logging_on</title>
<style type="text/css" media="all">
@import url( "./style/jbehave-core.css" );
</style>
</head>
<body>
 
<script type="syntaxhighlighter" class="brush: xml"><![CDATA[
<story path="stories/authentication/logging_on.story" title="Logging on to the &apos;My Flying High&apos; web site">
<meta>
<property keyword="@" name="iteration-1" value=""/>
</meta>
<scenario keyword="Scenario:" title="Logging on successfully">
<givenStories keyword="GivenStories:">
<givenStory parameters="">given/joe_has_registered.story</givenStory>
</givenStories>
<story path="given/joe_has_registered.story" title="Joe registers on the site">
<scenario keyword="Scenario:" title="Registering for the site">
<step outcome="successful">Given <parameter>Joe</parameter> is a Frequent Flyer member</step>
<step outcome="successful">And <parameter>Joe</parameter> has registered online with a password of &apos;secret&apos;</step>
</scenario>
</story>
<step outcome="successful">When <parameter>Joe</parameter> logs on with password &apos;secret&apos;</step>
<step outcome="successful">Then he should be given access to the site</step>
</scenario>
<scenario keyword="Scenario:" title="Logging on with an incorrect password">
<givenStories keyword="GivenStories:">
<givenStory parameters="">given/joe_has_registered.story</givenStory>
</givenStories>
<story path="given/joe_has_registered.story" title="Joe registers on the site">
<scenario keyword="Scenario:" title="Registering for the site">
<step outcome="successful">Given <parameter>Joe</parameter> is a Frequent Flyer member</step>
<step outcome="successful">And <parameter>Joe</parameter> has registered online with a password of &apos;secret&apos;</step>
</scenario>
</story>
<step outcome="successful">When <parameter>Joe</parameter> logs on with password &apos;wrong&apos;</step>
<step outcome="failed" keyword="FAILED">Then he should be informed that his password was incorrect<failure>org.junit.ComparisonFailure: expected:&lt;&apos;[expected] message&apos;&gt; but was:&lt;&apos;[wrong] message&apos;&gt;</failure></step>
<failure>org.junit.ComparisonFailure: expected:&lt;&apos;[expected] message&apos;&gt; but was:&lt;&apos;[wrong] message&apos;&gt;
	(reflection-construct)
	at org.fest.assertions.ConstructorInvoker.newInstance(ConstructorInvoker.java:36)
	at org.fest.assertions.ComparisonFailureFactory.newComparisonFailure(ComparisonFailureFactory.java:60)
	at org.fest.assertions.ComparisonFailureFactory.comparisonFailure(ComparisonFailureFactory.java:46)
	at org.fest.assertions.Fail.comparisonFailed(Fail.java:83)
	at org.fest.assertions.Fail.failIfNotEqual(Fail.java:71)
	at org.fest.assertions.GenericAssert.isEqualTo(GenericAssert.java:217)
	at com.bddinaction.flyinghigh.jbehave.steps.LoginSteps.he_should_be_informed_that_his_password_was_incorrect(LoginSteps.java:35)
	(reflection-invoke)
	at org.jbehave.core.steps.StepCreator$ParameterisedStep.perform(StepCreator.java:569)
	at org.jbehave.core.embedder.StoryRunner$FineSoFar.run(StoryRunner.java:535)
...</failure>
</scenario>
<scenario keyword="Scenario:" title="Logging on with an expired account">
<givenStories keyword="GivenStories:">
<givenStory parameters="">given/joe_has_registered.story</givenStory>
</givenStories>
<story path="given/joe_has_registered.story" title="Joe registers on the site">
<scenario keyword="Scenario:" title="Registering for the site">
<step outcome="successful">Given <parameter>Joe</parameter> is a Frequent Flyer member</step>
<step outcome="successful">And <parameter>Joe</parameter> has registered online with a password of &apos;secret&apos;</step>
</scenario>
</story>
<step outcome="failed" keyword="FAILED">Given the account has expired<failure>java.io.IOException: Database crashed</failure></step>
<step outcome="notPerformed" keyword="NOT PERFORMED">When <parameter>Joe</parameter> logs on with password &apos;wrong&apos;</step>
<step outcome="notPerformed" keyword="NOT PERFORMED">Then he should be informed that his account has expired</step>
<step outcome="notPerformed" keyword="NOT PERFORMED">And he should be invited to renew his account</step>
<failure>java.io.IOException: Database crashed
	at com.bddinaction.flyinghigh.jbehave.steps.LoginSteps.the_account_has_expired(LoginSteps.java:40)
	(reflection-invoke)
	at org.jbehave.core.steps.StepCreator$ParameterisedStep.perform(StepCreator.java:569)
	at org.jbehave.core.embedder.StoryRunner$FineSoFar.run(StoryRunner.java:535)
...</failure>
</scenario>
</story>

]]></script>
</body>
<!--  SyntaxHighlighter resources:  should be included at end of body -->
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shCore.css"/>
<link rel="stylesheet" type="text/css" href="./style/sh-3.0.83/shThemeRDark.css"/>
<script language="javascript" src="./js/sh-3.0.83/shCore.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushBash.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushCss.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushDiff.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushGroovy.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJava.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushJScript.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPlain.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushPython.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushRuby.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushScala.js"></script>
<script language="javascript" src="./js/sh-3.0.83/shBrushXml.js"></script>
<script language="javascript" src="./js/shBrushBdd.js"></script>
<script type="text/javascript">
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.defaults['toolbar'] = false;    
    SyntaxHighlighter.all();
</script>
</html>
